.date-box{
    display: flex;
    align-items: baseline;
    padding-bottom: 24px;
}

.location-box{
    display: flex;
    align-items: baseline;
    padding-bottom: 8px;
}

.conf-type{
    background:red;
    width: 50px;
    text-align: center;
    font-size: 14px;
    position: relative;
    bottom: 225px;
}